@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --bg-color: #011627;
    --heading-color: #00bc8d;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', 'Helvetica Neue', Arial, Helvetica, sans, sans-serif;
}

body{
    background:var(--bg-color);
    color: white;
}

.container{
    width: 100%;
    max-width: 50%;
    margin-top: 10%;
    margin-left: 10%;
}

.heading{
    display: flex;
    color: var(--heading-color);
    align-items: center;
    
}

.heading img{
    margin-left: 1.5rem;
    transform: rotate(15deg);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

span{
    font-size: 2.5rem;
}

.password-box{
    width: 70%;
    background-color: white;
    padding: 1rem 1.2rem;
    border-radius: 0.3rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
}

.password-box input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.2rem;
    color: black;
}

.password-box img{
    cursor: pointer;
    transform: rotate(90deg);
}

button{
    border: none;
    outline: none;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--heading-color);
    color: white;
    cursor: pointer;
    margin-top: 1.8rem;
}

button img{
    width: 1.7rem;
    margin-right: 0.7rem;
}

/* media queries */
/* tablets */
@media screen and (max-width: 768px){
    .container{
        max-width: 70%;
        /* margin-top: 15%;
        margin-left: 15%; */
        margin: 25% auto;
    }

    h1{
        font-size: 3.5rem;
    }
    
    h2{
        font-size: 1.5rem;
    }

    .password-box{
        max-width: 100%;
    }
}

/* mobiles */
@media screen and (max-width: 480px){
    .container{
        max-width: 80%;
        /* margin-top: 15%;
        margin-left: 15%; */
        margin: 25% auto;
    }

    h1{
        font-size: 3rem;
    }
    
    h2{
        font-size: 1rem;
    }

    .heading img{
        width: 1.5rem;
    }

    .password-box{
        padding: 0.7rem 1rem;
        max-width: 100%;
    }

    .password-box input{
        font-size: 0.9rem;
    }
    
    .password-box img{
        width: 1.8rem;
        height: 1.8rem;
    }

    button{
        padding: 0.8rem 1rem;
        font-size: 0.9rem;
        margin-top: 1.8rem;
    }
    
    button img{
        width: 1.3rem;
        margin-right: 0.7rem;
    }
}

/* mobiles */
@media screen and (min-width: 480px) and  (max-width: 768px){
    .container{
        width: 100%;
        margin-top: 25%;
        margin-left: auto;
        margin-right: auto;
        /* margin: 25% auto; */
    }

    h1{
        font-size: 3,5rem;
    }
    
    h2{
        font-size: 1.5rem;
    }

    .password-box{
        padding: 0.7rem 1rem;
        max-width: 100%;
    }
}